<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrator homepage</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <nav class="top-nav">
        <div>
            <a th:href="@{/}">Home</a>
        </div>
        <form action="#" th:action="@{/logout}" method="POST" class="logout">
            <button value="Logout" type="submit" class="logout-button">Logout</button>
        </form>
    </nav>
    <div class="content">
        <h2>SYSTEM CONFIGURATION</h2>
        <hr>
        <p>
            Systems configuration options.
        </p>
    </div>
    <footer>
        <p th:text="'Current time on server is ' + ${date}" class="highlight"></p>
    </footer>
</body>
</html>